
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone CRUD- Healthcare Prescription</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <center>
        <h1>Django CRUD Project on Healthcare Prescription</h1>
        <h3>Developed By- ARJUN SETH </h3>
        <hr>
        <a href="{% url 'Insertpat'%}">Insert New Patient Details</a>
        <a href="{% url 'imgupload'%}">Upload Image</a>
        <table border="4" class="styled-table">
            <tr>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Sex</th>
                <th>DOB</th>
                <th>Phone Number</th>
                <th>E-Mail Address</th>
                <th>Patient Address</th>
                <th>Disease</th>
                <th>Consulting Doctor Name</th>
                <th>Drug</th>
                <th>Drug Strength</th>
                <th>Drug Duration</th>
                <th>Prescription Advice</th>
                <th>Concluding Remarks (If Any)</th>
                <th>Options</th>
            </tr>
            {%for result in data%}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.patientname}}</td>
                <td>{{result.sex}}</td>
                <td>{{result.dob}}</td>
                <td>{{result.phone}}</td>
                <td>{{result.email}}</td>
                <td>{{result.address}}</td>
                <td>{{result.disease}}</td>
                <td>{{result.doctor}}</td>
                <td>{{result.drug}}</td>
                <td>{{result.drugstrength}}</td>
                <td>{{result.drugduration}}</td>
                <td>{{result.prescriptionadvice}}</td>
                <td>{{result.remarks}}</td>
                <td>
                    <a href="/delete/{{ result.id }}">Delete</a>
                    <a href="Edit/{{result.id}}">Edit</a>
                  </td>   




            </tr>
            {%endfor%}
        </table>
    </center>

</body>

</html>